.gallery {
  position: relative;
  width: 51vw;
  height: 31.292vw;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.gallery-item {
  height: 85%;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
  margin: 0px;
}

.gallery-item-1 {
  z-index: 2;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  opacity: 1;
  z-index: 1;
  margin-left: 78%;
  filter: grayscale(95%);
}

.gallery-wrapper {
  position: relative;
}

.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
  opacity: 0;
}

.gallery-item-3 {
  height: 100%;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin-top: 2.60vw;
}

.gallery-controls button {
  color: transparent;
  cursor: pointer;
  z-index: 10;
}

.gallery-controls-previous {
  width: 50px;
  height: 50px;
  background: url(../icon/left_arrow_w.png) no-repeat;
  border: none;
  cursor: pointer;
}

.fake-gallery-controls {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 2.6vw;
  top: 0px;
  width: 100%;
}

.gallery-controls-previous:hover {
  width: 50px;
  height: 50px;
  background: url(../icon/left_arrow_r.png) no-repeat;
  border: none;
  cursor: pointer;
}

.gallery-controls-next {
  width: 50px;
  height: 50px;
  background: url(../icon/right_arrow_w.png) no-repeat;
  border: none;
}

.gallery-controls-next:hover {
  width: 50px;
  height: 50px;
  background: url(../icon/right_arrow_r.png) no-repeat;
  border: none;
}

.btn-left, .btn-right {
  display: none;
}

.btn-left:hover, .btn-right:hover {
  display: block;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .gallery {
    height: 31.766vw;
    overflow: hidden;
  }

  .gallery-container {
    flex-direction: row-reverse;
  }

  .gallery-item {
    left: 50%;
    transform: translateX(-50%);
    animation: none;
  }

  .gallery-item-1, .gallery-item-2, .gallery-item-4 {
    opacity: 0;
    margin-left: 0px;
  }
}
