/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'S-CoreDream-1Thin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




/* ------------------------------------------------------------- */




/* all */
body {
  width: 100vw;
  min-width: 100vw;
  background: #fff;
  /* font-size: 62.5% */
}

* {
  padding: 0;
  margin: 0;
}

div {
  display: block;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
}





/* ------------------------------------------------------------- */




/* header */
.header{
  position: absolute;
  width: 100%;
  height: 110px;
  z-index: 2;
  position: relative;
  background-color: transparent;
  z-index: 100;
}

header.active {
  position: relative;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid rgb(207, 217, 223);
  transition: background-color 1s ease 0s;
  z-index: 10;
}

.header-wrap {
  margin: 0px auto;
  width: 80%;
  padding: 40px 0px;
}

@media (max-width: 1280px) {
  .header-wrap {
    width: 900px;
  }
}




/* ------------------------------------------------------------- */




/* intro section */
.intro {
  position: relative;
  background-color: #fff;
  height: 100%;
  min-height: 48vw;
  max-height: 69vw;
}

.intro-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 70%;
  padding-top: 3.781vw;
}

.intro-text-area {
  margin-bottom: 4.167vw;
}

.intro-text-area h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 55px;
  font-weight: 900;
  text-align: left;
  color: #000;
}

.highlight.i {
  background: 
    linear-gradient(#ffc5c5 0 0) 
    bottom /var(--d, 0) 36px 
    no-repeat;
}
.highlight.i.visible {
  --d: 100%;
}

.intro-right {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}

.promo {
  width: 42.188vw;
  height: 110%;
}

.promo-video {
  width: 100%;
  height: auto;
}

.bg-logo {
  margin-top: 1.563vw;
}

.bg-logo img {
  width: 34.583vw;
  height: auto;
}

@media (max-width: 1440px) {
  .intro-text-area h1 {
    font-size: 48px;
  }

  .highlight.i {
    background: 
    linear-gradient(#ffc5c5 0 0) 
    bottom /var(--d, 0) 30px 
    no-repeat;
  }
}

@media (max-width: 1280px) {
  .intro-wrap {
    width: 900px;
  }

  .intro-text-area h1 {
    font-size: 41px;
  }

  .highlight.i {
    background: 
    linear-gradient(#ffc5c5 0 0) 
    bottom /var(--d, 0) 27px 
    no-repeat;
  }
}

@media (max-width: 1024px) {
  .intro-text-area h1 {
    font-size: 34px;
  }
}




/* ------------------------------------------------------------- */




/* business section */
.business {
  position: relative;
  background-color: #fff;
  padding: 196px 0px;
}

.business-wrap {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin: 0 auto;
  width: 70%;
}

.business-text-area {
  margin-right: 6.563vw;
  margin-top: 9.167vw;
}

.business-text-area h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 55px;
  font-weight: 900;
  text-align: left;
  color: #000;
}

.moving-ball {
  margin: 196px 0px;
}

.moving-ball-wrap {
  position: relative;
}

.ball_1 {
  position: relative;
  width: 20.833vw;
  height: 20.833vw;
  background: #6E92FF;
  box-shadow: 0px 15px 25px rgba(101, 131, 254, 0.4);
  left: 0px;
  top: 0px;
  border-radius: 100%;
}

.ball_2 {
  position: absolute;
  width: 20.833vw;
  height: 20.833vw;
  background: #74CCFF;
  box-shadow: 0px 15px 25px rgba(116, 204, 255, 0.4);
  /* left: 326px;
  top: -193px; */
  left: 80%;
  top: -50%;
  border-radius: 100%; 
}

.ball_3 {
  position: absolute;
  width: 20.833vw;
  height: 20.833vw;
  background: #EDEDED;
  box-shadow: 0px 15px 25px rgba(228, 228, 228, 0.4);
  /* left: 342px;
  top: 148px; */
  left: 80%;
  top: 40%;
  border-radius: 100%;
}
  
#black{
  color: #4F4F4F;
}
.text {
  position: absolute;
  width: 269px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.stroke_1 {
  position: absolute;
  width: 20.833vw;
  height: 20.833vw;
  left: 16px;
  top: 0px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 100%;
}

.stroke_2 {
  position: absolute;
  width: 20.833vw;
  height: 20.833vw;
  /* left: 293px;
  top: -193px; */
  left: 75%;
  top: -50%;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 100%;
}

.stroke_3 {
  position: absolute;
  width: 20.833vw;
  height: 20.833vw;
  /* left: 329px;
  top: 148px; */
  left: 80%;
  top: 35%;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 100%;
}

@media (max-width: 1440px) {
  .business-text-area h1 {
    font-size: 48px;
  }

  .text {
    font-size: 34px;
  }
}

@media (max-width: 1280px) {
  .business-wrap {
    width: 900px;
  }

  .business-text-area h1 {
    font-size: 41px;
  }

  .text {
    font-size: 28px;
  }
}

@media (max-width: 1024px) {
  .business-text-area h1 {
    font-size: 48px;
  }
}




/* ------------------------------------------------------------- */




/* history section */
.history {
  position: relative;
  background-color: #fff;
  height: 100%;
  padding: 240px 0px;
  overflow: hidden;
}

.history-wrap {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  position: relative;
  margin: 0 auto;
  width: 70%;
}

.history-text-area {
  margin-top: 37px;
  margin-right: 8.500vw;
}

.history-text-area h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 55px;
  font-weight: 900;
  text-align: left;
  color: #000;
  white-space: nowrap;
}

.htr-slide {
  display: flex;
  align-items: center;
  margin-left: 6.250vw;
}

.mySwiper2 {
  background-color: #fff;
  width: 60%;
}

/* .htr-btn-wrap {
  border: solid 1px #bdbdbd;
  border-radius: 100%;
} */

.htr-btn-prev {
  width: 50px;
  height: 50px;
  background: url(../icon/c_left_arrow.png) no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.htr-btn-next {
  width: 50px;
  height: 50px;
  background: url(../icon/c_right_arrow.png) no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.head-text {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 35px;
  font-weight: 500;
  padding: 10px;
}

.text-highlight {
  box-shadow: inset 0 -20px 0 #B0FFE2;
}

.textgroup1 {
  margin-bottom: 6.250vw;
}

.textgroup-wrapper {
  /* padding: 0px 3.646vw; */
  width: 470px;
  /* display: grid; */
  position: relative;
}

/* .list {
  opacity: 0;
  pointer-events: none;
} */

.list-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
}

.list-item-image_wrapper {
  position: absolute;
  width: 400px;
  height: 250px;
  pointer-events: none;
  opacity: 0;
}

.list-item-image_inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.list-item-image_inner .list-item-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.list-item-innertext {
  display: inline-block;
  transition: letter-spacing 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.list:hover .list-item-text {
  opacity: 0.3;
}
.list:hover .list-item-text:hover {
  opacity: 0.8;
  font-weight: bold;
}

.list-item:hover .list-item-text {
  z-index: 10;
}

.list-item:hover .list-item-image_wrapper {
  z-index: 2;
}

.list-item-text {
  position: relative;
  display: block;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  padding: 10px;
  opacity: 1;
  transition: opacity 350ms ease;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.list-item-text:hover .list-item-innertext {
  letter-spacing: 0.2rem;
}

@media (max-width: 1440px) {
  .history-text-area h1 {
    font-size: 48px;
  }

  .head-text {
    font-size: 30px;
  }

  .textgroup-wrapper {
    width: 420px;
  }

  .list-item-text {
    font-size: 21px;
  }
}

@media (max-width: 1280px) {
  .history-wrap {
    width: 900px;
  }

  .history-text-area h1 {
    font-size: 41px;
  }

  .head-text {
    font-size: 25px;
  }

  .textgroup-wrapper {
    width: 380px;
  }

  .list-item-text {
    font-size: 19px;
  }
}

@media (max-width: 1024px) {
  .history-text-area h1 {
    font-size: 48px;
  }

  .list-item-text {
    font-size: 34px;
  }
}




/* ------------------------------------------------------------- */




/* main section */
.main {
  position: relative;
  background-image: url(../webp/bg_main.webp);
  background-size: cover;
  background-position: center center;
  background-color: rgba(43, 43, 43, 0.6);
  height: 100vh;
  min-height: 48vw;
  max-height: 69vw;
  overflow: hidden;
}

.main-wrap {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 80%;
  display: flex;
}


/* main section - left */
.text-wrap {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: left; 
}

.text-wrap .mt {
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 4px;
  /* line-height: 80%; */
}

.text-wrap .ms {
  margin: 27px 0px;
  font-family: S-CoreDream-5;
  font-size: 25px;
  font-weight: 500;
}

.ref-btn {
  display: block;
  width: 254px;
  height: 50px;
  font-size: 18px;
  padding: 8px 25px 7px;
  border: 0px solid #000;
  border-width: 0px 1px;
  background-image: url(../icon/download_btn_w.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  cursor: pointer;
}
.ref-btn:hover {
  border: 0px solid #fff;
  border-width: 0px 1px;
  background-image: url(../icon/download_btn_b.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
}


/* main section - right */
.banner-slide {
  position: relative;
  margin-left: 10%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.banner-center {
  display: flex;
}

.banner-wrap {
  position: relative;
  width: 80%;
  height: 100%;
  /* max-width: 800px; */
}

.b-text-wrap {
  color: #fff;
  margin-bottom: 2.29vw;
  flex-direction: column;
}

.new {
  position: relative;
  font-family: S-CoreDream-3Light;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}

.banner-info {
  margin-left: 20px;
  font-family: S-CoreDream-5Medium;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
}

.banner-wrap img {
  width: 100%;
  height: 100%;
}

.slide-btn {
  margin-top: 2.60vw;
  margin-left: 20%;
}

.btn-prev {
  width: 50px;
  height: 50px;
  background: url(../icon/left_arrow_w.png) no-repeat;
  border: none;
  cursor: pointer;
}
.btn-prev:hover {
  width: 50px;
  height: 50px;
  background: url(../icon/left_arrow_r.png) no-repeat;
  border: none;
  cursor: pointer;
}

.btn-next {
  width: 50px;
  height: 50px;
  background: url(../icon/right_arrow_w.png) no-repeat;
  border: none;
}
.btn-next:hover {
  width: 50px;
  height: 50px;
  background: url(../icon/right_arrow_r.png) no-repeat;
  border: none;
  cursor: pointer;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .text-wrap .mt {
    font-size: 72px;
  }

  .text-wrap .ms {
    font-size: 23px;
  }

  .ref-btn {
    width: 244px;
    height: 48px;
    cursor: pointer;
  }

  .banner-info {
    font-size: 28px;
  }
}

@media (max-width: 1280px) {
  .main-wrap {
    width: 900px;
  }

  .text-wrap .mt {
    font-size: 64px;
  }

  .text-wrap .ms {
    font-size: 21px;
  }

  .banner-info {
    font-size: 23px;
  }

  .ref-btn {
    width: 234px;
    height: 46px;
    cursor: pointer;
  }
}

@media (max-width: 1093px) {
  .banner-info {
    font-size: 22px;
  }

  .new {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .text-wrap .mt {
    font-size: 58px;
  }

  .text-wrap .ms {
    font-size: 19px;
  }

  .ref-btn {
    height: 40px;
    cursor: pointer;
  }

  .new {
    font-size: 16px;
  }
}




/* ------------------------------------------------------------- */




/* video section - left */
.video {
  display: flex;
  padding: 147px 0px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  scroll-behavior: smooth;
  position: relative;
  background-color: #f5f5f5;
}

.video-wrap {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
}

.box {
  display: flex;
  flex-grow: 1;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.main-header {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  color: #000;
  transition-delay: 0.2s;
}

.main-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  color: #000;
  transition-delay: 0.3s;
}

.space-clear {
  display: flex;
  align-items: center;
  margin-right: 5vw;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
}

.left-area h1 {
  white-space: nowrap;
}

.slide-btn.v {
  margin-left: 0;
}

.slide-btn.v .btn-prev {
  width: 50px;
  height: 50px;
  background: url(../icon/left_arrow_b.png) no-repeat;
  border: none;
  cursor: pointer;
}
.slide-btn.v .btn-prev:hover {
  width: 50px;
  height: 50px;
  background: url(../icon/left_arrow_r.png) no-repeat;
  border: none;
  cursor: pointer;
}

.slide-btn.v .btn-next {
  width: 50px;
  height: 50px;
  background: url(../icon/right_arrow_b.png) no-repeat;
  border: none;
  cursor: pointer;
}
.slide-btn.v .btn-next:hover {
  width: 50px;
  height: 50px;
  background: url(../icon/right_arrow_r.png) no-repeat;
  border: none;
  cursor: pointer;
}


/* video section - middle */
.main-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.main-img img {
  width: 36.833vw;
  height: 37.510vw;
  object-fit: cover;
  /* min-width: 400px; */
}

.main-img a {
  position: absolute;
  width: 84px;
  height: 84px;
  background: url(../icon/video_btn.png) no-repeat;
  border: none;
  cursor: pointer;
}

.main-img a:hover {
  width: 110px;
  height: 110px;
  background: url(../icon/video_btn_b.png) no-repeat;
}
 



/* video section - right */
.right-area {
  min-width: 230px;
}

.text-area {
  white-space: nowrap;
}

.sub-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  text-align: left;
  color: #000;
  transition-delay: 0.2s;
}

.sub-title-text {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  margin-bottom: 30px;
  text-align: left;
  color: #000;
  transition-delay: 0.3s;
}

.click {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  text-align: left;
  color: #d74c4b;
  transition-delay: 0.3s;
}

.select-dot {
  margin-top: 30px;
}

.select-dot-wrap {
  display: flex;
  align-items: center;
}

.dot-item {
  display: inline-block;
  vertical-align: middle;
}

.dot-item a {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  transform: rotate(-315deg);
  background-color: #e0e0e0;
}

.dot.active {
  width: 14px;
  height: 14px;
  transform: rotate(-315deg);
  background-color: #d74c4b;
}

@media (max-width: 1440px) {
  .left-area h1 {
    font-size: 35px;
  }

  .sub-title, .sub-title-text {
    font-size: 21px;
  }

  .left-side {
    min-width: 210px;
  }

  .right-area {
    min-width: 200px;
  }
}

@media (max-width: 1280px) {
  .video-wrap {
    width: 900px;
  }

  .left-area h1 {
    font-size: 30px;
  }

  .sub-title, .sub-title-text {
    font-size: 19px;
  }

  .left-side {
    min-width: 180px;
  }

  .right-area {
    min-width: 150px;
  }

  .click {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .left-area h1 {
    font-size: 25px;
  }

  .sub-title {
    font-size: 19px;
  }
}




/* ------------------------------------------------------------- */




/* solution section - left */
.solution {
  display:flex;
  padding: 190px 0px;
}

.solution.bg1 {
  background-color: #f2f7fb;
}

.solution.bg2 {
  background-color: #f3f2ff;
}

.solution.bg3 {
  background-color: #ffeeee;
}

.solution-wrap {
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
}

.sol-text-area {
  margin-bottom: 7.19vw;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: left;
}

.sol-text-area h1 {
  margin: 0 0 30px;
  font-size: 55px;
  font-weight: 500;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
}

.highlight {
  background: 
    linear-gradient(#f8ffac 0 0) 
    bottom /var(--d, 0) 28px 
    no-repeat;
  transition: 1s;
}
.highlight.visible {
  --d: 100%;
}

.sol-text-area span {
  font-size: 18px;
  line-height: 1.94;
  color: #333;
}

.menu-list ul {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  /* padding-left: 3px; */
}

.menu {
  padding: 7px 0px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.94;
  color: #4f4f4f;
  width: 50%;
  cursor: pointer;
}

.menu:hover {
  background-color: #fff;
  text-decoration: underline;
}

.menu.active {
  position: relative;
  color: #d74c4b;
}

.menu::before {
  content: '';
  width: 14.3px;
  height: 14.3px;
  margin-left: 3px;
  transform: rotate(-315deg);
  background-color: #d74c4b;
  display: inline-block;
  margin-right: 13px;
  visibility: hidden;
}

.menu.active::before {
  visibility: visible;
}

.right {
  margin-left: 5%;
} 

.left {
  margin-right: 5%;
}

.gif-wrap img {
  width: 36.458vw;
  height: 36.458vw;
  object-fit: cover;
}

.webm {
  width: 100%;
  height: 100%;
}

.link {
  display: none;
}

@media (max-width: 1440px) {
  .sol-text-area h1 {
    font-size: 50px;
  }

  .highlight {
    background: 
    linear-gradient(#f8ffac 0 0) 
    bottom /var(--d, 0) 26px 
    no-repeat;
  }
}

@media (max-width: 1280px) {
  .solution-wrap {
    width: 900px;
  }

  .sol-text-area h1 {
    font-size: 45px;
  }

  .highlight {
    background: 
    linear-gradient(#f8ffac 0 0) 
    bottom /var(--d, 0) 24px 
    no-repeat;
  }
}

@media (max-width: 1024px) {
  .solution-wrap {
    width: 90%;
  }

  .sol-text-area h1 {
    font-size: 40px;
  }

  .menu-list ul {
    flex-direction: column;
    width: 100%;
  }
}




/* ------------------------------------------------------------- */




/* package section */
.package {
  padding: 180px 0px;
  overflow: hidden;
}

.package-wrap {
  position: relative;
  margin: 0 auto;
  width: 1152px;
  /* display: flex;
  flex-direction: column; */
}

.package-text-area {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  margin-bottom: 50px;
  white-space: nowrap;
}

.package-text-area h1 {
  margin-bottom: 10px;
  font-size: 55px;
  font-weight: 500;
  color: #000;
}

.highlight.s {
  background: 
    linear-gradient(#c6d4ff 0 0) 
    bottom /var(--d, 0) 28px 
    no-repeat;
}

.package-text-area span {
  font-size: 18px;
  color: #333;
}

.package-series {
  padding: 70px 75px;
  border: solid 1px #e0e0e0;
  background-color: #fff;
  z-index: 10;
}

.series-wrap {
  display: flex;
  justify-content: space-between;
}

.package-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .package-img img {
  height: 100%;
} */

.package-info {
  text-align: center;
  white-space: nowrap;
}

.p-name {
  margin: 30px 0px 10px;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 900;
  color: #000;
}

.p-desc {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  color: #333;
}

@media (max-width: 1440px) {
  .package-wrap {
    width: 1052px;
  }

  .package-text-area h1 {
    font-size: 51px;
  }

  .highlight.s {
    background: 
    linear-gradient(#c6d4ff 0 0) 
    bottom /var(--d, 0) 26px 
    no-repeat;
  }

  .p-name {
    font-size: 23px;
  }
}

@media (max-width: 1280px) {
  .package-wrap {
    width: 952px;
  }

  .package-text-area h1 {
    font-size: 47px;
  }

  .highlight.s {
    background: 
    linear-gradient(#c6d4ff 0 0) 
    bottom /var(--d, 0) 24px 
    no-repeat;
  }

  .p-name {
    font-size: 21px;
  }

  .p-desc {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .package-text-area h1 {
    font-size: 43px;
  }

  .sol-text-area span {
    line-height: normal;
  }

  .solution-wrap.first,
  .solution-wrap.third {
    flex-direction: row-reverse;
  }

  .text-menu {
    width: 40%;
  }

  .right {
    margin-left: 0%;
    margin-right: 5%;
  }
}




/* ------------------------------------------------------------- */




/* contact section */
.contact {
  background-color: rgba(198, 212, 255, 0.3);
  padding: 128px 0px;
}

.contact-wrap {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.contact-text-area h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 55px;
  font-weight: 500;
  text-align: left;
  color: #000;
}

.contact-info {
  margin-top: 57px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  line-height: 1.94;
  text-align: left;
  color: #000;
}

.address, .phone, .email {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.address img, .phone img, .email img {
  margin-right: 10px;
}

@media (max-width: 1440px) {
  .contact-text-area h1 {
    font-size: 48px;
  }
}

@media (max-width: 1280px) {
  .contact-wrap {
    width: 900px;
  }

  .contact-text-area h1 {
    font-size: 41px;
  }
}

@media (max-width: 1024px) {
  .contact-text-area h1 {
    font-size: 36px;
  }
}




/* ------------------------------------------------------------- */




/* footer */
.footer {
  display: flex;
  margin: 70px 0px;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
}

.footer-logo {
  margin-bottom: 28px;
}

.footer-info {
  display: flex;
  align-items: center;
}

.footer-info span {
  margin: 0px 30px 0px 0px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 2.69;
  text-align: left;
  color: #2f80ed;
  white-space: pre;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
}

.footer-menu li {
  margin-right: 30px;
}

.footer-menu-item {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  line-height: 2.69;
  color: #333;
  white-space: pre;
}

.copyright {
  margin-top: 35px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  line-height: 2.69;
  text-align: left;
  color: #333;
}




/* ------------------------------------------------------------- */




/* video section - slide */
.mySwiper {
  display: flex;
  flex-grow: 1;
  position: relative;
  background-color: #f5f5f5;
}

.swiper-slide {
  opacity: 0 !important;
  transition: 0.4s;
}
.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-slide .main-wrapper > *,
.swiper-slide .main-content > * {
  transform: translateY(-30px);
  opacity: 0;
  transition-duration: 0.8s;
}

.swiper-slide-active .main-wrapper > *,
.swiper-slide-active .main-content > * {
  transform: none;
  opacity: 1;
}

.swiper-slide .main-img img {
  transition-duration: 0.6s;
  opacity: 0;
  object-position: 60%;
}

.swiper-slide-active .main-img img {
  opacity: 1;
  transform: none;
  object-position: 50%;
}


.swiper-prev-btn {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-next-btn {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -10px;
}

.swiper-slide {
  left: 15%;
}

/* main section text effect */
.m-roles {
  height: 120px;
  vertical-align: middle;
  margin-bottom: 27px;
  overflow: hidden;
}

.m-roles div {
  height: 120px;
  transition: margin-top 1s ease-in-out;
}

.roles {
  height: 45px;
  vertical-align: middle;
  overflow: hidden;
}

.roles div {
  height: 45px;
  transition: margin-top 1s ease-in-out;
}