/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'S-CoreDream-1Thin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
}
@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
}


/* ------------------------------------------------------------- */


/* all */
body {
  width: 100vw;
  background: #fff;
}

* {
  padding: 0;
  margin: 0;
}

ul,li {
  list-style: none;
}

a {
  text-decoration: none;
}

.tablet {
  display: none;
}

#canvas {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}

/* Scroll Animation (sa, 스크롤 애니메이션) */
.sa {
  opacity: 0;
  transition: all 470ms ease-in;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.bg-up {
  top: -1000px;
}

/* ------------------------------------------------------------- */


/* header */
.header {
  z-index: 2;
  position: relative;
  background-color: transparent;
  z-index: 100;
}

.header-wrap {
  margin: 0px auto;
  width: 80%;
  padding: 40px 0px;
}


/* ------------------------------------------------------------- */


/* intro section */
.intro {
  position: relative;
  height: 100%;
}

.intro-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 70%;
  padding-top: 3.781vw;
}

.intro-text-area {
  margin-bottom: 4.167vw;
  transform: translateX(-130px);
}

.intro-text-area h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 55px;
  font-weight: 900;
  text-align: left;
  color: #000;
}

.highlight.i {
  position: relative;
  background: 
    linear-gradient(#ffc5c5 0 0) 
    bottom /var(--d, 0) 36px 
    no-repeat;
}
.highlight.visible {
  --d: 100%;
}

.intro-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.promo {
  width: 43.188vw;
  opacity: 0;
  transform: translateX(130px);
}

.promo-video {
  width: 100%;
  height: auto;
}

.bg-logo {
  margin-top: 1.563vw;
  opacity: 0;
  transform: translateX(130px);
  bottom: 0;
  /* animation-delay: 700ms; 
  animation-fill-mode: forwards; */
}

.bg-logo img {
  width: 34.583vw;
  height: auto;
}


/* ------------------------------------------------------------- */


/* business section */
.business {
  position: relative;
  /* background-color: #fff; */
  padding: 168px 0px 143px;
  overflow: hidden;
}

.business-wrap {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin: 0 auto;
  width: 70%;
}

.business-text-area {
  margin-right: 6.563vw;
  margin-top: 9.167vw;
  transform: translateX(-130px);
}

.business-text-area h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 55px;
  font-weight: 900;
  text-align: left;
  color: #000;
}

.moving-ball {
  margin: 196px 0px;
  transform: translateX(130px);
}

.moving-ball-wrap {
  position: relative;
}

.ball_1 {
  position: relative;
  background: #6E92FF;
  box-shadow: 0px 15px 25px rgba(101, 131, 254, 0.4);
  left: 0px;
  top: 0px;
}

.ball_2 {
  position: absolute;
  background: #74CCFF;
  box-shadow: 0px 15px 25px rgba(116, 204, 255, 0.4);
  left: 80%;
  top: -50%;
}

.ball_3 {
  position: absolute;
  background: #EDEDED;
  box-shadow: 0px 15px 25px rgba(228, 228, 228, 0.4);
  left: 80%;
  top: 40%;
}

.ball_1, .ball_2, .ball_3 {
  border-radius: 100%;
}
 
#black{
  color: #4F4F4F;
}

.text {
  position: absolute;
  width: 269px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.stroke_1 {
  left: 16px;
  top: 0px;
}

.stroke_2 {
  left: 75%;
  top: -50%;
}

.stroke_3 {
  left: 80%;
  top: 35%;
}

.stroke_1, .stroke_2, .stroke_3 {
  position: absolute;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 100%;
}

.ball_1, .ball_2, .ball_3,
.stroke_1, .stroke_2, .stroke_3  {
  width: 20.833vw;
  height: 20.833vw;
  min-width: 24.590vw;
  min-height: 24.590vw;
}

/* business section - Venn Diagram */
.s-text {
  position: absolute;
  width: 85px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  align-items: center;
  color: #4f4f4f;
}

.s-text.m {
  left: -20%;
  bottom: 12%;
}

.s-text.p {
  right: -92%;
  top: -48%;
}

.s-text.c {
  right: -68%;
  bottom: -54%;
}

.s-text.e {
  left: 48%;
  bottom: -20%;
}

.s-text.a {
  right: 30%;
  top: -20%;
}

.s-text.v {
  right: -95%;
  top: 37%;
}


/* ------------------------------------------------------------- */


/* history section */
.history {
  position: relative;
  /* background-color: #fff; */
  height: 100%;
  padding: 240px 0px;
  /* overflow: hidden; */
}

.history-wrap {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  position: relative;
  margin: 0 auto;
  width: 70%;
}

.history-text-area {
  margin-top: 37px;
  margin-right: 8.500vw;
  transform: translateX(-130px);
}

.history-text-area h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 55px;
  font-weight: 900;
  text-align: left;
  color: #000;
  white-space: nowrap;
}

.htr-slide {
  display: flex;
  align-items: center;
  margin-left: 6.250vw;
}

.mySwiper2 {
  /* background-color: #fff; */
  width: 60%;
  transform: translateX(130px);
}

.htr-btn-prev, .htr-btn-next {
  border: none;
  background: transparent;
}

.htr-btn-prev .btn-w, .htr-btn-next .btn-w {
  position: relative;
  width: 70px;
  height: 70px;
  background-size: cover;
}

.btn-tr {
  position: absolute;
  display: none;
  width: 70px;
  height: 70px; 
}
.htr-btn-prev:hover .btn-tr, .htr-btn-next:hover .btn-tr {
  display: block;
}

.htr-btn-prev .btn-tr.isPressed {
  background: url(../icon/h_left_arrow_click.png) no-repeat;
  background-size: cover;
}

.htr-btn-next .btn-tr.isPressed {
  background: url(../icon/h_right_arrow_click.png) no-repeat;
  background-size: cover;
}

.head-text {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 35px;
  font-weight: 500;
  padding: 10px;
}

.text-highlight {
  box-shadow: inset 0 -20px 0 #B0FFE2;
}

.textgroup1 {
  margin-bottom: 6.250vw;
}

.textgroup-wrapper {
  width: 470px;
  position: relative;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
}

.list-item-image_wrapper {
  position: absolute;
  width: 400px;
  height: 250px;
  pointer-events: none;
  opacity: 0;
}

.list-item-image_inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.list-item-image_inner .list-item-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  object-fit: cover;
}

.list-item-innertext {
  display: inline-block;
  transition: letter-spacing 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.list:hover .list-item-text {
  opacity: 0.3;
}
.list:hover .list-item-text:hover {
  opacity: 0.8;
  font-weight: bold;
}

.list-item:hover .list-item-text {
  z-index: 10;
}
.list-item:hover .list-item-image_wrapper {
  z-index: 2;
}

.list-item-text {
  position: relative;
  display: block;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  padding: 10px;
  opacity: 1;
  transition: opacity 350ms ease;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.list-item-text:hover .list-item-innertext {
  letter-spacing: 0.2rem;
}


/* ------------------------------------------------------------- */


/* main section */
.main {
  position: relative;
  background-image: url(../webp/bg_main.webp);
  background-size: cover;
  background-position: center center;
  background-color: rgba(43, 43, 43, 0.6);
  background-attachment: fixed;
  height: 100vh;
  min-height: 48vw;
  max-height: 59vw;
  overflow: hidden;
}

.main-wrap {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m-contents {
  display: flex;
}

/* main section - left */
.text-wrap {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: left; 
}

.text-wrap .mt {
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 4px;
  margin-bottom: 25px;
}

.text-wrap .ms {
  margin: 27px 0px;
  font-family: S-CoreDream-5;
  font-size: 25px;
  font-weight: 500;
}

.ref-btn {
  position: relative;
  display: block;
  width: 254px;
  height: 50px;
  border: 0px solid #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.btn-r {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  border: 0px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.ref-btn:hover .btn-r {
  display: block;
}

/* main section - right */
.banner-slide {
  position: relative;
  margin-left: 7%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.banner-center {
  display: flex;
}

.banner-wrap {
  position: relative;
  width: 80%;
  height: 100%;
}

.b-text-wrap {
  display: flex;
  color: #fff;
  margin-bottom: 2.29vw;
  flex-direction: column;
  align-items: center;
  transform: translateY(-130px);
}

.new {
  position: relative;
  font-family: S-CoreDream-3Light;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-right: 20px;
}

.banner-info {
  font-family: S-CoreDream-5Medium;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
}

.banner-wrap img {
  width: 100%;
  height: 100%;
}

.slide-btn {
  margin-top: 2.60vw;
  margin-left: 20%;
}

.btn-prev {
  background: url(../icon/left_arrow_w.png) no-repeat;
}
.btn-prev:hover {
  background: url(../icon/left_arrow_r.png) no-repeat;
}

.btn-next {
  background: url(../icon/right_arrow_w.png) no-repeat;
}
.btn-next:hover {
  background: url(../icon/right_arrow_r.png) no-repeat;
}

.btn-prev, .btn-next {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* main section - text effect */
.m-roles {
  height: 147px;
  vertical-align: middle;
  margin-bottom: 1.406vw;
  overflow: hidden;
}

.m-roles div {
  height: 147px;
  transition: margin-top 1s ease-in-out;
}

.roles {
  height: 35px;
  vertical-align: middle;
  overflow: hidden;
}

.roles div {
  height: 35px;
  transition: margin-top 1s ease-in-out;
}


/* ------------------------------------------------------------- */


/* video section - left */
.video {
  display: flex;
  padding: 147px 0px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  scroll-behavior: smooth;
  position: relative;
  background-color: #f5f5f5;
}

.video-wrap {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  opacity: 0;
}

.video-wrap.show {
  opacity: 1;
}

.box {
  display: flex;
  flex-grow: 1;
  position: relative;
  align-items: center;
}

.main-header {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  color: #000;
  transition-delay: 0.2s;
}

.main-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  color: #000;
  transition-delay: 0.3s;
}

.space-clear {
  display: flex;
  align-items: center;
  margin-right: 5vw;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-130px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(130px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-130px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.va {
  opacity: 0;
  transition: all 470ms ease-in;
}

.va.show {
  opacity: 1;
  transform: none;
}

.left-area {
  margin-right: 1.979vw;
}

.left-area.show {
  animation: fadeInLeft 470ms ease-in;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
}

.left-area h1 {
  white-space: nowrap;
}

.slide-btn.v {
  margin-left: 0;
}

.slide-btn.v .btn-prev {
  background: url(../icon/left_arrow_b.png) no-repeat;
}
.slide-btn.v .btn-prev:hover {
  background: url(../icon/left_arrow_r.png) no-repeat;
}

.slide-btn.v .btn-next {
  background: url(../icon/right_arrow_b.png) no-repeat;
}
.slide-btn.v .btn-next:hover {
  background: url(../icon/right_arrow_r.png) no-repeat;
}

.slide-btn.v .btn-prev, .slide-btn.v .btn-next {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

/* video section - middle */
.main-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.main-img.show {
  animation: fadeInTop 470ms ease-in;
}

.main-img img {
  width: 36.833vw;
  height: 37.510vw;
  object-fit: cover;
  min-width: 24.792vw;
  min-height: 24.792vw;
}

.main-img a {
  position: absolute;
  width: 84px;
  height: 84px;
  background: url(../icon/video_btn.png) no-repeat;
  border: none;
  cursor: pointer;
}

.main-img a:hover {
  width: 110px;
  height: 110px;
  background: url(../icon/video_btn_b.png) no-repeat;
}

/* video section - right */
.right-area {
  min-width: 230px;
  /* transform: translateX(130px); */
}

.right-area.show {
  animation: fadeInRight 470ms ease-in;
}

.text-area {
  white-space: nowrap;
}

.sub-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  text-align: left;
  color: #000;
  transition-delay: 0.2s;
}

.sub-title-text {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  margin-bottom: 30px;
  text-align: left;
  color: #000;
  transition-delay: 0.3s;
}

.click {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  text-align: left;
  color: #d74c4b;
  transition-delay: 0.3s;
}

.select-dot {
  margin-top: 30px;
}

.select-dot-wrap {
  display: flex;
  align-items: center;
}

.dot-item {
  display: inline-block;
  vertical-align: middle;
}

.dot-item a {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  transform: rotate(-315deg);
  background-color: #e0e0e0;
}

.dot.active {
  width: 14px;
  height: 14px;
  transform: rotate(-315deg);
  background-color: #d74c4b;
}

/* video section - slide */
.mySwiper {
  display: flex;
  flex-grow: 1;
  position: relative;
  background-color: #f5f5f5;
}

.swiper-slide {
  opacity: 0 !important;
  transition: 0.4s;
}
.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-slide .main-wrapper > *,
.swiper-slide .main-content > * {
  transform: translateY(-30px);
  opacity: 0;
  transition-duration: 0.8s;
}

.swiper-slide-active .main-wrapper > *,
.swiper-slide-active .main-content > * {
  transform: none;
  opacity: 1;
}

.swiper-slide .main-img img {
  transition-duration: 0.6s;
  opacity: 0;
  object-position: 60%;
}

.swiper-slide-active .main-img img {
  opacity: 1;
  transform: none;
  object-position: 50%;
}

.swiper-prev-btn {
  position: absolute;
  top: 45%;
  width: 70px;
  height: 70px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-next-btn {
  position: absolute;
  top: 45%;
  width: 70px;
  height: 70px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -10px;
}

.swiper-slide {
  left: 15%;
}

/* video section - pagination */
.swiper-pagination { 
  position: relative !important; 
  margin-top: 30px !important;
  text-align: left !important;
}

.swiper-pagination-bullet  {
  width: 14px !important;
  height: 14px !important;
  margin: 0 5px !important;
  transform: rotate(-315deg) !important;
  background-color: #e0e0e0 !important;
  border-radius: 0 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #d74c4b !important;
}

.outer-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.space-clear {
  width: 100%;
  height: 100%;
}

.left-side {
  width: 100%;
  height: 100%;
}

.video-area {
  width: 36.833vw;
  height: 100%;
}

.main-img {
  z-index: 0;
}

.text-area {
  width: 100%;
  height: 197px;
}


/* ------------------------------------------------------------- */


/* solution section - left */
.solution {
  display:flex;
  padding: 190px 0px;
}

.solution.bg1 {
  background-color: #f2f7fb;
}

.solution.bg2 {
  background-color: #f3f2ff;
}

.solution.bg3 {
  background-color: #ffeeee;
}

.solution-wrap {
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
}

.sol-text-area {
  margin-bottom: 7.19vw;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: left;
}

.taLeft {
  transform: translateX(-130px);
}

.taRight {
  transform: translateX(130px);
}


.sol-text-area h1 {
  margin: 0 0 30px;
  font-size: 55px;
  font-weight: 500;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
}

.highlight {
  background: 
    linear-gradient(#f8ffac 0 0) 
    bottom /var(--d, 0) 28px 
    no-repeat;
  transition: 1s;
}
.highlight.visible {
  --d: 100%;
}

.sol-text-area span {
  font-size: 18px;
  line-height: 1.94;
  color: #333;
}

.menu-list ul {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
}

.menu {
  padding: 7px 0px 7px 9px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.94;
  color: #4f4f4f;
  width: 48%;
  cursor: pointer;
  z-index: 3;
}
/* .menu:hover {
  background-color: #fff;
  text-decoration: underline;
} */

.menu.hover-slider {
  width: 260px;
  position: absolute;
  z-index: 1;
  transition: all 200ms, background-color 200ms;
}
.menu:nth-child(1):hover ~ .hover-slider {
  transform: translateX(0);
  background-color: #fff;
}
.menu:nth-child(2):hover ~ .hover-slider {
  transform: translateX(100%);
  background-color: #fff;
}
.menu:nth-child(3):hover ~ .hover-slider {
  transform: translateY(100%);
  background-color: #fff;
}
.menu:nth-child(4):hover ~ .hover-slider {
  transform: translate3d(100%, 100%, 0);
  background-color: #fff;
}
.menu:nth-child(5):hover ~ .hover-slider {
  transform: translateY(200%);
  background-color: #fff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menu.active {
  /* position: relative; */
  color: #d74c4b;
}

.menu:before {
  content: '';
  width: 14.3px;
  height: 14.3px;
  margin-left: 3px;
  transform: rotate(-315deg);
  background-color: #d74c4b;
  display: inline-block;
  margin-right: 13px;
  visibility: hidden;
  z-index: 3;
}

.menu.active:before {
  animation: fadeIn 200ms ease-in;
  visibility: visible;
  z-index: 3;
}

.right {
  margin-left: 5%;
  transform: translateX(130px);
} 

.left {
  margin-right: 5%;
  transform: translateX(-130px);
}

.gif-wrap img {
  width: 36.823vw;
  height: 36.823vw;
  object-fit: cover;
  animation: fadeIn 200ms ease-in;
}

.webm {
  width: 100%;
  height: 100%;
}

.link {
  display: none;
}


.gif {
  animation: fadeOut 3s;
}


@keyframes imgFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* ------------------------------------------------------------- */


/* package section */
.package {
  padding: 180px 0px;
  background-color: #fff;
  overflow: hidden;
}

.package-wrap {
  position: relative;
  margin: 0 auto;
  width: 1152px;
}

.package-text-area {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  margin-bottom: 50px;
  white-space: nowrap;
}

.package-text-area h1 {
  margin-bottom: 10px;
  font-size: 55px;
  font-weight: 500;
  color: #000;
}

.highlight.s {
  background: 
    linear-gradient(#c6d4ff 0 0) 
    bottom /var(--d, 0) 35px 
    no-repeat;
}

.package-text-area span {
  font-size: 18px;
  color: #333;
}

.package-series {
  padding: 3.646vw 3.906vw;
  border: solid 1px #e0e0e0;
  background-color: #fff;
  z-index: 10;
}

.series-wrap {
  display: flex;
  justify-content: space-between;
}

.package-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.package-info {
  text-align: center;
  white-space: nowrap;
}

.p-name {
  margin: 30px 0px 10px;
  font-family: Avenir;
  font-size: 25px;
  font-weight: 900;
  color: #000;
}

.p-desc {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  color: #333;
}


/* ------------------------------------------------------------- */


/* contact section */
.contact {
  background-color: #fff;
}

.contact-bg {
  background-color: rgba(198, 212, 255, 0.3);
  padding: 128px 0px;
}

.contact-wrap {
  position: relative;
  width: 70%;
  margin: 0 auto;
  transform: translateX(-130px);
}

.contact-text-area h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 55px;
  font-weight: 500;
  text-align: left;
  color: #000;
}

.contact-info {
  margin-top: 57px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  line-height: 1.94;
  text-align: left;
  color: #000;
}

.address, .phone, .email {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.address img, .phone img, .email img {
  margin-right: 10px;
}

/* ------------------------------------------------------------- */


/* map section */
.map {
  background-color: #fff;
}


/* ------------------------------------------------------------- */


/* footer */
.footer {
  display: flex;
  padding: 70px 0px;
  background-color: #fff;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
}

.footer-logo {
  margin-bottom: 28px;
}

.footer-info {
  display: flex;
  align-items: center;
}

.footer-info span {
  margin: 0px 30px 0px 0px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 2.69;
  text-align: left;
  color: #2f80ed;
  white-space: pre;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
}

.footer-menu li {
  margin-right: 30px;
}

.footer-menu-item {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  line-height: 2.69;
  color: #333;
  white-space: pre;
}

.copyright {
  margin-top: 35px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  line-height: 2.69;
  text-align: left;
  color: #333;
}


/* ------------------------------------------------------------- */


/* Media Query */
@media (max-width: 1440px) {
  /* intro section */
  .intro-text-area h1 {
    font-size: 48px;
  }

  .highlight.i {
    background: 
    linear-gradient(#ffc5c5 0 0) 
    bottom /var(--d, 0) 30px 
    no-repeat;
  }

  /* business section */
  .business-text-area h1 {
    font-size: 48px;
  }

  .text {
    font-size: 36px;
  }

  /* history section */
  .history-text-area h1 {
    font-size: 48px;
  }

  .textgroup-wrapper {
    width: 420px;
  }

  .list-item-text {
    font-size: 23px;
  }

  /* main section */
  .text-wrap .mt {
    font-size: 66px;
  }

  .text-wrap .ms {
    font-size: 22px;
  }

  .ref-btn {
    width: 244px;
    height: 48px;
    cursor: pointer;
  }

  .ref-btn img {
    width: 244px;
    height: 48px;
    cursor: pointer;
  }

  .new {
    font-size: 18px;
  }

  .banner-info {
    font-size: 31px;
  }

  .m-roles {
    height: 126px;
  }

  .m-roles div {
    height: 126px;
  }

  /* video section */
  .left-area h1 {
    font-size: 35px;
  }

  .sub-title, .sub-title-text {
    font-size: 22px;
  }

  .left-side {
    min-width: 210px;
  }

  .text-area {
    height: 177px;
  }

  /* solution section */
  .sol-text-area h1 {
    font-size: 48px;
  }

  .highlight {
    background: 
    linear-gradient(#f8ffac 0 0) 
    bottom /var(--d, 0) 26px 
    no-repeat;
  }

  /* package section */
  .package-wrap {
    width: 1052px;
  }

  .package-text-area h1 {
    font-size: 48px;
  }

  .highlight.s {
    background: 
    linear-gradient(#c6d4ff 0 0) 
    bottom /var(--d, 0) 31px 
    no-repeat;
  }

  .p-name {
    font-size: 22.5px;
  }

  .p-desc {
    font-size: 17px;
  }

  /* contact section */
  .contact-text-area h1 {
    font-size: 46px;
  }
}







@media (max-width: 1280px) {
  /* header */
  .header-wrap {
    width: 950px;
  }

  /* intro section */
  .intro-wrap {
    width: 950px;
  }

  .intro-text-area h1 {
    font-size: 42px;
  }

  .highlight.i {
    background: 
    linear-gradient(#ffc5c5 0 0) 
    bottom /var(--d, 0) 27px 
    no-repeat;
  }

  /* business section */
  .business-wrap {
    width: 950px;
  }

  .business-text-area h1 {
    font-size: 42px;
  }

  .text {
    font-size: 32px;
  }

  /* history section */
  .history-wrap {
    width: 950px;
  }

  .history-text-area h1 {
    font-size: 41px;
  }

  .textgroup-wrapper {
    width: 380px;
  }

  .list-item-text {
    font-size: 21px;
  }

  /* main section */
  .main-wrap {
    width: 900px;
  }

  .text-wrap .mt {
    font-size: 53px;
  }

  .text-wrap .ms {
    font-size: 19px;
  }

  .new {
    font-size: 17px;
  }

  .banner-info {
    font-size: 28px;
  }

  .ref-btn {
    width: 234px;
    height: 46px;
    cursor: pointer;
  }

  .ref-btn img {
    width: 234px;
    height: 46px;
    cursor: pointer;
  }


  .m-roles {
    height: 108px;
  }

  .m-roles div {
    height: 108px;
  }

  /* video section */
  .video-wrap {
    width: 900px;
  }

  .left-area h1 {
    font-size: 30px;
  }

  .sub-title, .sub-title-text {
    font-size: 19px;
  }

  .left-side {
    min-width: 180px;
  }

  .click {
    font-size: 16px;
  }

  .text-area {
    height: 167px;
  }

  /* solution section */
  .solution-wrap {
    width: 950px;
  }

  .sol-text-area h1 {
    font-size: 42px;
  }

  .highlight {
    background: 
    linear-gradient(#f8ffac 0 0) 
    bottom /var(--d, 0) 24px 
    no-repeat;
  }

  /* package section */
  .package-wrap {
    width: 950px;
  }

  .package-text-area h1 {
    font-size: 42px;
  }

  .highlight.s {
    background: 
    linear-gradient(#c6d4ff 0 0) 
    bottom /var(--d, 0) 27px 
    no-repeat;
  }

  /* contact section */
  .contact-wrap {
    width: 950px;
  }

  .contact-text-area h1 {
    font-size: 38px;
  }
}







@media (max-width: 1024px) and (min-width: 768px) {
  .web {
    display: none;
  }

  .tablet {
    display: block;
  }

  /* header */
  .header-wrap {
    width: 95%;
  }

  .header-wrap img {
    height: 24px;
    width: auto;
  }

  /* intro section */
  .intro-wrap {
    width: 95%;
  }

  .intro-text-area h1 {
    font-size: 35px;
  }

  .highlight.i {
    background: 
    linear-gradient(#ffc5c5 0 0) 
    bottom /var(--d, 0) 22px 
    no-repeat;
  }

  .promo {
    width: 47.597vw;
  }

  /* business section */
  .business {
    padding: 73px 0px;
  }

  .business-wrap {
    width: 95%;
  }

  .business-text-area h1 {
    font-size: 35px;
  }

  .ball_1, .ball_2, .ball_3,
  .stroke_1, .stroke_2, .stroke_3 {
    width: 24.590vw;
    height: 24.590vw;
  }

  .text {
    font-size: 2.930vw;
  }

  /* history section */
  .history {
    padding: 118px 0px 136px;
  }
  
  .history-wrap {
    width: 95%;
  }

  .history-text-area h1 {
    font-size: 35px;
  }

  .list-item-text {
    font-size: 18px;
  }

  /* main section */
  .main-wrap {
    width: 87%;
  }

  .text-wrap .mt {
    font-size: 40px;
  }

  .text-wrap .ms {
    font-size: 16px;
  }

  .ref-btn {
    width: 195px;
    height: 40px;
    cursor: pointer;
  }

  .ref-btn img {
    width: 195px;
    height: 40px;
    cursor: pointer;
  }

  .new {
    font-size: 16px;
  }

  .banner-info {
    font-size: 25px;
  }

  .m-contents {
    flex-direction: row-reverse;
  }

  .banner-slide {
    margin-left: 0;
    margin-right: 7%;
  }

  .m-roles {
    height: 92px;
    margin-bottom: 14px;
  }

  .m-roles div {
    height: 92px;
  }

  /* video section */
  .video-wrap {
    width: 95%;
  }

  .box {
    align-items: flex-end;
  }

  .left-area {
    margin-right: 6.836vw;
  }

  .left-area h1 {
    font-size: 25px;
  }

  .sub-title, .sub-title-text {
    font-size: 16px;
  }

  .main-img img {
    width: 44.074vw;
    height: 44.074vw;
  }

  .text-area {
    height: 157px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 65px  !important;
  }

  /* solution section */
  .solution {
    padding: 134px 0px;
  }

  .solution-wrap {
    width: 95%;
  }

  .sol-text-area h1 {
    font-size: 35px;
  }

  .sol-text-area span {
    line-height: normal;
  }

  .solution-wrap.first,
  .solution-wrap.third {
    flex-direction: row-reverse;
  }

  .text-menu {
    width: 40%;
  }

  .right {
    margin-left: 0%;
    margin-right: 5%;
    transform: translateX(-130px);
  }

  .menu-list ul {
    flex-direction: column;
    width: 100%;
  }

  .menu {
    width: 100%;
  }

  .gif-wrap img {
    width: 48.828vw;
    height: 48.828vw;
  }

  .taLeft {
    transform: translateX(130px);
  }

  .menu:nth-child(1):hover ~ .hover-slider {
    transform: translateX(0);
    background-color: #fff;
  }
  .menu:nth-child(2):hover ~ .hover-slider {
    transform: translateY(100%);
    background-color: #fff;
  }
  .menu:nth-child(3):hover ~ .hover-slider {
    transform: translateY(200%);
    background-color: #fff;
  }
  .menu:nth-child(4):hover ~ .hover-slider {
    transform: translateY(300%);
    background-color: #fff;
  }
  .menu:nth-child(5):hover ~ .hover-slider {
    transform: translateY(400%);
    background-color: #fff;
  }

  /* package section */
  .package {
    padding: 110px 0px;
  }

  .package-wrap {
    width: 780px;
  }

  .package-series {
    border: none;
  }

  .package-text-area h1 {
    font-size: 35px;
  }

  .highlight.s {
    background: 
    linear-gradient(#c6d4ff 0 0) 
    bottom /var(--d, 0) 22px 
    no-repeat;
  }

  .p-name {
    font-size: 20px;
  }

  .p-desc {
    font-size: 16px;
  }

  /* contact section */
  .tablet-wrap {
    display: grid;
    grid-template-columns: 449fr 575fr;
  }

  .tablet-bg {
    padding: 110px 0px 284px;
    background-color: rgba(198, 212, 255, 0.3);
  }

  .contact-bg {
    background-color: transparent;
    padding: 0px;
  }

  .contact-wrap {
    width: 90%;
  }

  .contact-text-area h1 {
    font-size: 30px;
  }

  .address, .phone, .email {
    align-items: flex-start;
  }

   /* map section */
  .map-wrap {
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  /* footer */
  .footer-wrap {
    width: 95%;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  li {
    margin-right: 24px;
  }

  .copyright {
    margin-top: 0px;
  }
}